@layer api, defaults, layout, cells, cell, sa11y;

@layer api {
    :root {
        --nb-focus-width: 3px;
        --nb-accent-color: auto;
        --nb-margin: 5%;
        --nb-font-size: 16px;
        --nb-font-family: serif;
        --nb-line-height: 1.5;
        --nb-scrolled-height: 600px;
        --color-light: #FFFFFF;
        --color-dark: #2b2a33;
        --nb-pilcrow: "🔗";
        --fg-color: var(--color-dark);
        --bg-color: var(--color-light);
        --nb-invert: 0;
        --nb-grayscale: 0;
    }
}

@layer layout {
    html {
        /* when we put this at the html level we replace the color of the margins */
        filter: invert(var(--nb-invert)) grayscale(var(--nb-grayscale));
    }

    body {
        font-size: var(--nb-font-size);
        font-family: var(--nb-font-family);
        accent-color: var(--nb-accent-color);
        line-height: var(--nb-line-height);
        color: var(--fg-color);
        background-color: var(--bg-color);
    }

    body.dark {
        --fg-color: var(--color-light);
        --bg-color: var(--color-dark);
    }


    /* there nothing to be said about this topic that [sara soueidan](https://www.sarasoueidan.com/blog/focus-indicators/) hasn't said.
    we start with her [universal focus recommendation](https://www.sarasoueidan.com/blog/focus-indicators/#a-%E2%80%98universal%E2%80%99-focus-indicator).    */
    .cell:focus-within,
    :focus-visible {
        outline: max(var(--nb-focus-width), 1px) solid;
        box-shadow: 0 0 0 calc(2 * max(var(--nb-focus-width), 1px));
    }

    .cells {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }


    .notebook-cells,
    .cells>.cell,
    .cells>.cell>:not([hidden]) {
        display: block;
        text-align: unset;
        width: 100%;
    }

    .cells>.cell>:is(.nb-anchor, .nb-execution_count):not([hidden]) {
        float: left;
        width: unset;
    }

    header,
    main,
    footer {
        margin-left: var(--nb-margin);
        margin-right: var(--nb-margin);
        background-color: var(--bg-color);
    }

    .cells>.cell {

        /* line height cant change pre elements based on browser presets */
        pre,
        .highlight>pre,
        textarea {
            line-height: var(--nb-line-height);
            white-space: pre-wrap;
        }

    }

    @layer wide {
        /* the wide mode provides support for low vision, large print and magnification */

        .horiz-overflow header,
        .horiz-overflow main,
        .horiz-overflow footer {
            width: max-content;
            margin-left: unset;
            margin-right: unset;
        }

        .horiz-overflow .nb-source {
            overflow-x: visible;
        }

        .horiz-overflow .nb-outputs {
            min-width: 100%;
        }

        .horiz-overflow img,
        .horiz-overflow image {
            height: unset;
            width: unset;
        }

        .horiz-overflow .notebook-cells,
        .horiz-overflow .cells,
        .horiz-overflow .cells>.cell,
        .horiz-overflow .cells>.cell>[role="none"] {
            width: max-content;
        }

        .horiz-overflow pre,
        .horiz-overflow textarea {
            white-space: pre;
        }
    }

    @layer fullscreen {
        main:fullscreen {
            overflow: auto;
            background: var(--bg-color);
        }
    }

    @layer settings {

        #nb-settings li::marker,
        summary[inert]::marker {
            content: "";
        }
    }
}

@layer defaults {
    table {
        border-spacing: unset;
    }

    select,
    button {
        font-family: inherit;
        font-size: inherit;
    }

    textarea {
        font-family: monospace;
        font-size: inherit;
        overflow: auto;
        color: unset;
    }

    /* align checkboxes with buttons */
    input[type="checkbox"] {
        vertical-align: middle;
    }
}

@layer layout.dialog {
    dialog form>* {
        display: block;
    }
}

@layer layout.wcag {

    .wcag-a textarea[name=source],
    .wcag-aa textarea[name=source],
    .wcag-aaa .markdown textarea[name=source],
    /* this group selector is very ambiguous */
    .wcag-aaa textarea[name=source]+[role=group] {
        display: none;
    }

    .wcag-aaa button,
    .wcag-aaa input[type=checkbox] {
        min-height: 44px;
        min-width: 44px;
    }

    .wcag-aaa a {
        font-size: max(44px, var(--nb-font-size));
    }

    /* WCAG 2.2 clarified a AA button size that is used to style checkboxes and buttons. */
    /* satisfy AA 2.5.8 minimum target requirement */
    .wcag-aa button,
    .wcag-aa input[type=checkbox] {
        min-height: 24px;
        min-width: 24px;
    }

    .wcag-aa a {
        font-size: max(24px, var(--nb-font-size));
    }

    /* remove the color styling for AAA */
    .wcag-aaa .highlight pre code span[class] {
        color: unset;
    }
}


@layer sally {

    body:not([data-dev-sa11y]) sa11y-control-panel,
    body:not([data-dev-sa11y]) sa11y-annotation {
        display: none;
    }

    body[data-dev-sa11y] sa11y-control-panel,
    body[data-dev-sa11y] sa11y-annotation {
        display: unset;
    }
}

@layer cells {
    @layer reversed {

        ol[reversed]#cells,
        .notebook-cells[data-sort="descending"] .cells {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    @layer list {
        li.cell {
            list-style-type: none;
        }

        ol.cells {
            margin: unset;
            padding: unset;
        }
    }
}

@layer cell {

    .cell>.nb-outputs,
    .cell>.nb-source {
        overflow-x: auto;
    }

    .cell[hidden],
    .cell[role="none"][hidden] {
        display: none;
    }

    @layer markdown {
        .markdown textarea[name=source]+[role=group] {
            display: none;
        }
    }

    @layer code {
        textarea[name=source] {
            box-sizing: border-box;
            width: 100%;
            /* on firefox, the input and output become interactive when there is overflow. chrome fixed this recently find reference.*/
            min-width: 0;
            resize: none;
        }

        @layer output {

            .nb-outputs img,
            .nb-outputs image {
                height: 100%;
                width: 100%;
            }

            fieldset.nb-outputs[data-outputs="0"] {
                display: none;
            }

            .nb-outputs.nb-scrolled {
                max-height: var(--nb-scrolled-height);
                overflow-y: auto;
            }

            .nb-outputs.nb-collapsed {
                display: none;
            }
        }
    }

    @layer pilcrow {
        a.pilcrow::after {
            padding-right: 1rem;
            content: "";
        }

        span.pilcrow::before {
            content: var(--nb-pilcrow) attr(data-level);
            font-size: smaller;
        }
    }
}

@layer sticky {

    /* sticky position provides visitors with visual elements to remind them where they
    are in a notebook using the cell number and out execution count in code cells. 
    when scrolling it provides gestalt for cell changes. i added this cause i like, and i think 
    there are cognitive benefits. */
    body.sticky .cells>.cell {
        position: relative;
    }

    body.sticky .cells>.cell>.nb-anchor,
    body.sticky .cells>.cell>.nb-execution_count {
        position: sticky;
        top: 0;
        background-color: var(--bg-color);
    }
}

details.log:not([open])+table,
.visually-hidden:not(:focus-within):not(:active),
.visually-hide {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}